body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    height: 65px;
    background-color: #000233;
    color: white;
    align-items: center;
    padding-left: 25px;
    justify-content: space-between;
}

.btn-cv {
    background-color: #171848;
    color: white;
    border: none;
    font-weight: 600;
    max-height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 25px;
    margin-left: auto;
    transition: background-color 0.3s ease;
}

.btn-cv:hover {
    background-color: #001c4a;
}

.cara {
    border-radius: 50%;
    height: 200px;
}

.uno {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #303030;
    color: white;
}

.caja-central {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
    box-shadow: 0 20px 36px rgba(0, 0, 0, 0.956);
}

.caja-cara {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #424242;  
}

.caja-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #f2f2f2;
    color: #303030;
    padding: 10px;
}

.presentacion,
.texto-sobre-mi,
.texto-card {
    word-wrap: break-word;
    text-wrap: pretty;
    text-align: justify;
    line-height: 1.4;
}

.presentacion {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    word-spacing: -1px;
    font-weight: 600;
}

.dos {
    background-color: #F5F5F5;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5px;
    min-height: calc(130vh - 65px);
    font-weight: 700;
}

.aptitudes {
    width: 70%;
    margin-top: 20px;
}

.tech-list {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.tech {
    height: 64px;
}

.tres {
    background-color: #303030;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
}

.proyectos {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border: solid #f2f2f2 1px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 30em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-4px) scale(1.05) rotateY(4deg);
    box-shadow: 0 20px 36px rgba(0, 0, 0, 0.921);
}

.ver-codigo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.card>img {
    width: 100%;
    height: auto;
    max-width: 230px;
    max-height: 260px;
}

.card a,
footer a {
    color: white;
    text-decoration: none;
}

.red-social {
    max-height: 60px;
}

footer {
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #f2f2f2;
    max-height: 11.5em;
}

.texto-footer {
    margin-top: 9px;
}

.contacto {
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .caja-central {
        width: 90%;
        height: 70%;
        flex-direction: column;
    }

    .caja-cara {
        width: 100%;
        height: 50%;
    }

    .caja-presentacion {
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }

    .aptitudes {
        width: 100%;
        margin-top: 20px;
    }

    .dos {
        height: auto;
        padding: 40px 10px;
    }

    .tres {
        height: auto;
    }

    .proyectos {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        width: 80%;
        margin-top: 20px;
    }

    .red-social {
        margin: 0 10px 0 10px;
    }
}

h2 {
    text-align: center;
}

.cursos-realizados {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.grid-container img {
    width: 68%;
    display: block;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    max-height: 150px;
}

.grid-container img:nth-child(7) {
    grid-column: 2;
}

/* Agrega la animación de transición para un cambio suave */
.icon-hola {
    transition: transform 0.3s ease;
}

/* Aplica la transformación cuando se pasa el ratón por encima */
.icon-hola:hover {
    transform: translateY(-5px) rotate(-10deg);
}

/* Restaura la posición original al hacer clic */
.icon-hola:active {
    transform: translateY(0);
}



/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .grid-container {
        display: block;
        /* Cambia a un bloque para mostrar una imagen debajo de la otra */
        text-align: center;
        /* Centra las imágenes */
    }

    .grid-container img {
        width: 100%;
        /* Ocupa todo el ancho disponible */
        max-width: none;
        /* Elimina el límite máximo de ancho */
        height: auto;
        /* Ajusta la altura automáticamente */
        margin-bottom: 20px;
        /* Agrega un espacio entre las imágenes */
    }
}