.card{
    height: 100%;
    width: 90%;
}

.img-card{
    width: 99%;
}

.img-logo{
width: 33%;
}

.carita{
    color: red;
}

.text-acerca-de-mi{
text-align: center;

}
.btn-outline-info{

}
.imagen-carrusel{
    height: 200px;
    display:block;
    margin:0 auto;
}

.text-center-2{
    text-align: center;
    color: white;
    font-family:'Sono', sans-serif;

}
.header{
background-image: url("../imgs/background-image.jpg");
}
