body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de center a flex-start */
    text-align: center;
    height: 100vh;
    overflow: auto; /* Cambiado de hidden a auto */
    padding: 10px; /* Añadido para evitar que el contenido toque los bordes */
}

header {
    background-color: #01011c;
    width: 100%;
    padding: 5px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif-drake {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

h1 {
    font-size: 1em;
    margin: 0;
    color: #f2f2f2;
}

h2, .texto-aptitudes {
    color: #f2f2f2;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiado de center a flex-start */
    align-items: center;
    width: 100%; /* Añadido para asegurar que el contenido ocupe todo el ancho */
}

.caja-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.caja-cara img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 2px solid #f2f2f2;
}

.caja-presentacion {
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 0.8em;
    margin: 0;
    color: #f2f2f2;
}

.icon-hola {
    display: inline-block;
    animation: shake 3.5s infinite;
    color: #f2f2f2;
}

@keyframes shake {
    0% { transform: translateY(0) rotate(0); }
    25% { transform: translateX(-4px) rotate(-20deg); }
    50% { transform: translateX(5px) rotate(12deg); }
    75% { transform: translateX(-3px) rotate(-10deg); }
    100% { transform: translateY(0) rotate(0); }
}

.dos {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-bottom: 6px;
    width: 100%; /* Añadido para asegurar que el contenido ocupe todo el ancho */
    text-align: center;
}

.aptitudes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.aptitudes img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(1px 1px 2px #000);
}

footer {
    background-color: #424242;
    padding: 10px;
    width: 100%; /* Añadido para asegurar que el contenido ocupe todo el ancho */
    margin-top: 10px;
    border-radius: 10px;
}

.contacto {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.contacto a img {
    width: 15px;
    height: 15px;
    filter: drop-shadow(1px 1px 2px #000);
}

.contacto a {
    transition: transform 0.2s;
}

.contacto a:hover {
    transform: scale(1.1);
}
