:root {
	--color-scrollbar: rgba(12, 97, 245, 0.706);
	--color-scrollbar-bg: #222121;
	--color-bg: #000000;
	--color-header-bg: #01011c;
	--color-header-bg-adjusted: rgba(0, 0, 0, 0.3);
	--color-header-text: #f5f5f5;
	--color-main-text: #f2f2f2;
	--color-secondary-bg: #1e2a38;
	--color-accent: #0066cc;
	--color-accent-dark: #004080;
	--color-card-bg: linear-gradient(rgb(0, 0, 0), #272626);
	--color-card-border: linear-gradient(#0066cc, #f5f5f5);
	--color-footer-bg: #2a3f54;
	--color-hover-card: #0a4fbd;
}

html {
	box-sizing: border-box;
	scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-bg);
	scrollbar-width: thin;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--color-bg);
	color: var(--color-main-text);
}

header {
	display: flex;
	height: 70px;
	background-color: var(--color-header-bg);
	color: var(--color-header-text);
	align-items: center;
	justify-content: space-between;
	user-select: none;
	position: sticky;
	top: 0;
	z-index: 1;
	animation: adjust-header linear both;
	animation-timeline: scroll();
	animation-range: 0 100px;
}

@keyframes adjust-header {
	to {
		background: var(--color-header-bg-adjusted);
		font-size: 12px;
		height: 60px;
		border-radius: 0;
	}
}

h1 {
	font-size: 1.5em;
	cursor: pointer;
}

h2 {
	position: relative;
	margin-top: 5px;
}

.header__gif {
	width: 44px;
	height: 22px;
}

.header__cv-btn {
	color: var(--color-header-text);
	background:
		linear-gradient(var(--color-accent), var(--color-accent-dark)) padding-box,
		linear-gradient(var(--color-accent), var(--color-secondary-bg)) border-box;
	text-decoration: none;
	font-weight: 600;
	max-height: 40px;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 8px;
	margin-right: 25px;
	margin-left: auto;
}

.header__cv-btn:hover {
	background: linear-gradient(rgb(1, 37, 61), #1070e6f9) padding-box;
	transition: background-color 0.3s ease;
}

.intro__image {
	border-radius: 50%;
	height: 12em;
	padding-top: 4em;
	padding-bottom: 4em;
}

.intro {
	padding-bottom: 9em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--color-secondary-bg);
	color: var(--color-main-text);
	user-select: none;
}

.intro__container {
	margin-top: 10%;
	width: 50%;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	overflow: hidden;
	height: 50%;
	box-shadow: 0 20px 36px rgba(0, 0, 0, 0.956);
}

.intro__image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	background-color: var(--color-footer-bg);
}

.intro__presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	background-color: var(--color-main-text);
	color: var(--color-secondary-bg);
	padding: 12px;
}

.intro__text,
.about__description,
.projects__card-text {
	word-wrap: break-word;
	text-wrap: pretty;
	text-align: start;
	line-height: 1.4;
}

.projects__card-text {
	padding-inline: 1em;
}

.intro__text {
	margin: 0;
	margin-top: -6px;
	max-width: 100%;
	word-spacing: -1px;
	font-weight: 600;
}

.about {
	background-color: var(--color-main-text);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-secondary-bg);
	padding: 1em 20% 2em 20%;
	font-weight: 700;
	user-select: none;
}

.about h2,
.about ul,
.about li {
	margin-bottom: -18px;
}

.about li {
	padding: 3px;
	list-style: none;
	margin-bottom: 4px;
	position: relative;
	white-space: nowrap;
}

.about__courses li::before {
	content: 'â­';
	height: 26px;
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
}

.about__title {
	margin-top: -1em;
	padding-top: 30px;
	padding-bottom: 18px;
}

.about__skills {
	width: 70%;
	margin-top: 20px;
}

.about__tech-list {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	justify-content: center;
	align-items: center;
}

.about__tech {
	height: 90px;
}

.projects {
	background-color: var(--color-secondary-bg);
	height: 41em;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	color: var(--color-main-text);
	user-select: none;
}

.projects__container {
	width: 75%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
}

.projects__title {
	padding-bottom: 1em;
	padding-top: 0.5em;
}

.projects__card {
	display: flex;
	position: relative;
	flex-direction: column;
	text-align: center;
	width: 29%;
	outline: solid var(--color-accent) 2px;
	background: var(--color-card-bg) padding-box,
		var(--color-card-border) border-box;
	border-radius: 10px;
	padding: 10px;
	margin-top: -12px;
	min-height: 31em;
	word-break: normal;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 10px 14px rgba(0, 0, 0, 0.974);
}

.projects__card:hover {
	transform: translateY(-4px) scale(1.02) rotateY(4deg);
	box-shadow: 0 20px 36px rgb(0, 0, 0);
}

.projects__code-text:hover {
	color: var(--color-hover-card);
}

.projects__code-link {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.projects__card>img {
	width: 200px;
	height: 260px;
	margin: 0 auto;
	display: block;
}

.projects__card a,
footer a {
	color: var(--color-header-text);
	text-decoration: none;
}

.contact__icon {
	max-height: 3.3em;
	margin: 0 8px;
	transition: all 0.4s ease;
	position: relative;
}

.contact__icon.contact__icon--github {
	clip-path: circle(50%);
}

.contact__icon::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.4s ease, opacity 0.4s ease;
	z-index: -1;
}

.contact__icon:hover::before {
	transform: translate(-50%, -50%) scale(1.5);
	opacity: 0;
}

.contact__icon:hover {
	animation: iconShake 0.5s ease forwards;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes iconShake {
	0% {
		transform: translateX(0) rotate(0);
	}

	25% {
		transform: translateX(-5px) rotate(-10deg);
	}

	50% {
		transform: translateX(5px) rotate(10deg);
	}

	75% {
		transform: translateX(-5px) rotate(-10deg);
	}

	100% {
		transform: translateX(0) rotate(0);
	}
}

footer {
	background-color: var(--color-footer-bg);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: var(--color-main-text);
	user-select: none;
}

.contact__text {
	margin-top: 18px;
	margin-bottom: 4px;
	font-size: large;
}

.contact__copyright {
	font-size: 1em;
	vertical-align: 0.3em;
	position: relative;
	top: -0.1em;
	left: -0.2em;
}

.contact__links {
	width: 30%;
	display: flex;
	justify-content: center;
}

.about__subtitle {
	text-align: center;
	padding-bottom: 12px;
}

.about__courses {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__tech-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.about__tech-grid img {
	max-width: 8em;
	display: block;
	margin: 0 auto;
}

.about__tech-grid img:nth-child(7) {
	grid-column: 2 / span 1;
	justify-self: center;
}

.intro__hello-icon {
	display: inline-block;
	animation: shake 3.5s infinite;
	position: absolute;
	top: -2px;
	padding: 2px;
}

@keyframes shake {
	0% {
		transform: translateY(0) rotate(0);
	}

	25% {
		transform: translateX(-4px) rotate(-20deg);
	}

	50% {
		transform: translateX(5px) rotate(12deg);
	}

	75% {
		transform: translateX(-3px) rotate(-10deg);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

@media only screen and (max-width: 1198px) {
	.about__title {
		padding-bottom: 32px;
	}

	.intro__container {
		height: 70%;
		flex-direction: column;
	}

	.intro__image-wrapper {
		width: 100%;
		padding-top: 12px;
		padding-bottom: 9px;
	}

	.intro__image-wrapper img {
		min-height: 16em;
		margin-left: 14px;
	}

	.intro__presentation {
		width: 94%;
		height: 50%;
		align-items: flex-start;
		padding-right: 30px;
	}

	.about__skills {
		width: 100%;
		margin-top: 20px;
	}

	.intro {
		padding-bottom: 4em;
	}

	.about {
		height: auto;
		padding: 20px 10px;
	}

	.projects {
		height: auto;
		padding-bottom: 4em;
	}

	.projects__container {
		width: 90%;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.projects__card {
		margin-top: 20px;
		width: 18em;
	}

	.contact__icon {
		margin: 0 10px 0 10px;
	}

	.about__tech-grid img {
		max-width: 80px;
	}

	.about__tech-grid img.about__tech--bootstrap {
		max-width: 105px;
	}

	.contact__icon {
		margin: 0 2em;
	}

}

@media only screen and (max-width: 767px) {
	.intro__container {
		width: 80%;
	}

	.projects__card {
		width: 18em;
	}

	.about__skills-text {
		padding: 0 10px;
	}

	.about__tech-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.about__tech-grid img {
		max-width: 80px;
	}

	.about li {
		white-space: unset;
		margin-bottom: 10px;
	}

	.about .intro__text {
		max-width: 100%;
		padding: 0 10px;
	}

	.about .about__description {
		word-wrap: break-word;
	}

	.about__presentation p,
	.intro__text {
		overflow-wrap: break-word;
		white-space: normal;
		margin: 0;
		padding-right: 1em;
		max-width: 100%;
		margin-bottom: 10px;
	}
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	src: url("https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf") format('truetype');
}